<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BORDER BY_BREST</title>
</head>
<body>

<table border="1" class="table table-bordered table-hover horizontal-align">
    <thead>
    <tr>
        <th>curID</th>
        <th>Date</th>
        <th>Time</th>
        <th>View</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gr: ${granica}">
        <td th:text="${gr.id}" ></td>
        <td th:text="${gr.date}"></td>
        <td th:text="${gr.time}"></td>
        <td><a th:href="@{/view/{id}(id=${gr.id})}" target="_blank">View</a></td>
        <td><a th:href="@{/granica/delete/{id}(id=${gr.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p></p>
<img src="http://www.brest.customs.gov.by/webcam/brst112_c1.jpg" alt="Granica" >
<!--<form  th:action="@{/main}">-->
<!--<button type="submit"  value="HOME">HOME</button>-->
</form>
<form  th:action="@{/saveGr}" th:object="${granica}"   method="post">
    <div class="form-group col-md-8">
    </div>
    <div class="form-group">
        <input type="date" readonly id="date" th:name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />

        <input type="time" readonly id="time1" th:name="time" th:value="${#dates.format(#dates.createNow(), 'HH:mm1')}" />

        <input type="hidden"  readonly id="bytes" th:name="bytes"  th:value="${data}" />
    </div>

    <button type="submit" >Add</button>

</form>
</body>
</html>