
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>USER add</title>

</head>
<body>

<form  th:action="@{/save}" th:object="${dom}"   method="post">
    <div class="form-group col-md-8">
        <input type="text"  id="name" th:name="name" th:value="HENADZ" placeholder="Enter your name."   />
    </div>
    <div class="form-group">
        <input type="time" readonly id="date" th:name="date" th:value="${#dates.format(#dates.createNow(), 'HH:mm')}" />
    </div>

    <div class="form-group">
        <input type="text"  id="cat1" th:name="cat1" th:value="${cat2}" />
    </div>
    <button type="submit" >Add</button>

</form>
<p><a th:href="@{/main}">HOME</a></p>
<svg th:href="@{/main}">HOME</svg>

</body>
</html>